language: php

php:
  - 5.6

env:
  - DRUPAL=8.0.x
  - DRUPAL=8.1.x

git:
  depth: 1

sudo: false

install:
  # - export PATH="$HOME/.composer/vendor/bin:$PATH"
  # - composer global require drush/drush:dev-master
  - composer self-update
  - git config --global github.accesstoken $GITHUB_OAUTH_TOKEN

  # Download Drupal and dependencies.
  - TESTDIR=$(pwd)
  - cd ..
  - git clone --depth 1 --branch ${DRUPAL} http://git.drupal.org/project/drupal.git drupal
  - if [ ${DRUPAL} == "8.0.x" ]; then
    git clone --depth 1 --branch 8.x-1.x http://git.drupal.org/project/composer_manager.git drupal/modules/composer_manager ;
    fi
  - cd drupal

before_script:
  # rsync the module directory into modules/xero
  - rsync -rtlDPvc --exclude .git/ $TESTDIR modules/

  # Change back to the root Drupal directory.
  - if [ ${DRUPAL} == "8.0.x" ]; then
      php modules/composer_manager/scripts/init.php ;
      composer drupal-rebuild ;
      composer update --verbose --no-interaction --prefer-source --lock --dev ;
    else
      composer config repositories.xerobundle vcs https://github.com/mradcliffe/XeroBundle.git ;
      composer require blackoptic/xerobundle:"dev-fix-guzzle-6 as master" ;
      composer update --verbose --dev ;
    fi

  # Go back to repository directory to run phpunit.
  - cd modules/xero
script:
  - ../../vendor/bin/phpunit --coverage-text=$TRAVIS_BUILD_DIR/coverage.txt
after_script:
  # Print out coverage report.
  - head $TRAVIS_BUILD_DIR/coverage.txt
